.container-fixed{
  background-color: #F2F2F2;
}

.profile{
  width: 70%;
  border-radius: 5%;
  margin: 5%;
  border: 1px solid #f0f0f0;
}

.jumbotron{
  background-color: white;
  color:black;
}

.col-md-4{
  text-align: center;
}

.container-fixed {
  margin: 0 auto;
  max-width: 1080px;
  color: white;
}

.navbar{
  background-color: #3AB04C;
  color:white;
}
.navbar-default .navbar-nav>li>a {
  color: white; 
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-brand:hover{
  color: black;
}

.page{
  color:black;
  background-color: white;
}